body {
    background-color: #66bd48 !important;
    height: 100vh !important;
}

#login{
    background-color: white;
}

.form-control{
    background-color: #f2f2f2 !important;
    height: 4em !important;     
}

.form-group{
    height: 4em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cecece !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cecece !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cecece !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #cecece !important;
}

p{
    color: #d1d1d1;
}

button{
    height: 4em;
}